*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 1.2vw;
}
body{
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar{
  width: 0%;
}

:root{
  --white-bg: rgb(225, 236, 255);
  --dark-bg: rgb(17, 29, 48);
  --light-text: rgb(239, 245, 255);
  --dark-text: rgb(23, 35, 55);
}

/* dark and light mode */
.white-bg{
  background-color: var(--white-bg);
  color: var(--dark-text);
}
.dark-bg{
  background-color: var(--dark-bg);
  color: var(--light-text);
}
.mode-selected{
  background-color: var(--dark-bg);
  color: var(--light-text);
  cursor: pointer;
  border-radius: 10px;
  padding: 8px 5px;
}

/* app component */
.app-container{
  height: auto;
}

/* app loading container */
.loading-container{
  background-color: var(--white-bg);
  height: 100vh;
  color: var(--dark-text);
  font-size: 30px;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 96px;
  width: 96px;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.container span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #9b59b6;
  background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

.container span:nth-of-type(1) {
  filter: blur(5px);
}

.container span:nth-of-type(2) {
  filter: blur(10px);
}

.container span:nth-of-type(3) {
  filter: blur(25px);
}

.container span:nth-of-type(4) {
  filter: blur(50px);
}

.container::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border: solid 5px #ffffff;
  border-radius: 50%;
}

@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loading-container p{
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-text);
}

/* navbar page */
.navbar-container{
  background-color: #2a2a72;
  height: auto;
}
.navbar-content{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.nav-image{
  display: flex;
}
.nav-image img{
  width: 40px;
  height: 40px;
}
.image-text{
  font-size: 20px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px 0 0 30px;
  color: var(--white-bg);
}
.nav-item{
  padding: 10px;
}
.navbar-button{
  background-color: var(--white-bg);
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #2a2a72;
  transition: .5s;
}
.navbar-button:hover{
  background-color: #1818ab;
  color: var(--light-text);
  border: 1px solid var(--light-text);
}
.navbar-button2{
  margin-left: 30px;
}

/* landing page */
.landing-page-container{
  height: auto;
  background: var(--white-bg);
  background-image: linear-gradient(45deg,  rgba(23, 35, 40, 0.637), rgba(23, 35, 40, 0.382), rgba(74, 207, 255, 0.481)), url("./components/assets/landing-page-image1.jpeg");
  background-size: cover;
  background-position: center;
}
.landing-page-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--light-text); 
}
.landing-page-filter{
  backdrop-filter: blur(3px);
  height: 100vh;
}
.landing-page-inner{
  margin: 40px 40px 0px 40px;
  padding: 20px 50px;
  border: 1px solid var(--light-text);
  border-radius: 10px;
  background-color: rgba(23, 35, 40, 0.637);
}
.landing-page-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 45px;
  text-align: center;
  margin-bottom: 50px;
}
.landing-page-title2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}
.typing {
  border-right: .15em solid var(--light-text);
  white-space: nowrap; 
  overflow: hidden;
  width: 0; 
  animation: typing 10s steps(70) forwards, blinkTextCursor 700ms steps(2) infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkTextCursor {
  from { border-right-color: transparent; }
  to { border-right-color: var(--light-text); }
}

.landing-page-sub-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.sub-image-container1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 14px;
}
.sub-image-container1 img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.sub-image-container1 span{
  font-size: 18px;
  text-align: center;
  background-color: rgba(53, 53, 53, 0.471);
  color: white;
  position: relative;
  top: -29px;
  padding: 4px;
  border-radius: 0 0 10px 10px;
}
.sub-image-top{
  margin-bottom: 60px;
}
.landing-page-bottom{
  margin-top: 10px;
}
.landing-page-bottom h3{
  font-size: 25px;
  margin-bottom: 10px;
}


/* signup and login */
.container-background{
  background-color: var(--white-bg);
  background-image: url("./components/assets/pattern3.jpg");
  background-position: center;
  height: 100vh;
  display: flex;
}
.image-container{
  display: flex;
  flex-grow: 1;
  width: 50%;
  border-right: 2px solid var(--dark-bg);
  filter: brightness(0.5);
  box-shadow: inset 0 0 0 1000px rgba(37, 37, 37, 0.5);
}
.background-image{
  width: 90%;
  margin: 30px;
  animation: rotateImage 10s  infinite;
}
@keyframes rotateImage{
  from {
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}

.outer-container{
  padding-top: 10px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.inner-container{
  width: 70%;
  margin: 10px 15px;
}
/* usher register form */
.usher-register-form{
  padding: 10px 30px;
  background-color: rgb(230, 249, 255);
  border-radius: 10px;
  margin-bottom: 20px;
}
/* usher check in form */
.check-in-form{
  padding: 10px 30px;
  background-color: rgb(230, 249, 255);
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
}
.container-header{
  color: var(--dark-bg);
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 37px;
  width: auto;
}
.form-group{
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
}
.form-group label{
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-bg);
}
.form-group input{
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 6px;
}
.form-group input:focus-visible{
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.048);
}
.password{
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
}
.password label{
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-bg);
}
.password input{
  width: 90%;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 6px;
}
.password-container{
  display: flex;
  background-color: white;
  border-radius: 6px;
}
.password-active{
  border: 1px solid blue;
}
.password-icon{
  font-size: 25px;
  cursor: pointer;
  margin: 5px 8px;
}
.button-container{
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
  font-size: 15px;
}
.submit-button{
  padding: 8px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  background-color: rgb(0, 33, 251);
  color: var(--light-text);
  cursor: pointer;
  transition: .5s;
}
.button-loading{
  cursor: not-allowed;
  background-color: rgb(1, 49, 77);
}
.submit-button:hover{
  background-color: rgb(1, 49, 77);
}
.submit-button-loading{
  background-color: rgb(1, 49, 77);
  cursor: not-allowed;
}
.login-link-container{
  color: var(--dark-text);
  margin-left: 4rem;
  margin-top: 9px;
}
.login-link{
  text-decoration: none;
  color: red;
}
.email-phone-container{
  background-color: white;
  padding: 2px;
  width: 120px;
  border-radius: 5px;
}
.email-phone{
  font-size: 16px;
  cursor: pointer;
}
.email-phone-switch{
  background-color: var(--dark-text);
  color: var(--light-text);
  padding: 2px;
  border-radius: 4px;
}
.email-label{
  margin-right: 29px;
}

/* not found css */
.not-found-outer-container{
  height: 100vh;
  background: var(--light-text);
  background-image: url("./components/assets/pattern3.jpg");
  background-position: center;
}
.not-found-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found-content{
  margin: 90px 20px;
  display: block;
  text-align: center;
  background-color: var(--white-bg);
  border-radius: 10px;
  padding: 40px 20px;
}
.not-found-content h1{
  color: red;
  font-size: 40px;
  margin-bottom: 0px;
}

.not-found-content img{
  height: 40vh;
}
.not-found-content p{
  font-size: 20px;
  margin-bottom: 30px;
}
.not-found-link{
  background-color: blue;
  border: 2px solid rgb(144, 225, 255);
  border-radius: 10px;
  padding: 10px;
  font-size: 10px;
  color: var(--light-text);
  text-decoration: none;
}

/* user dashboard */
.dashboard-navbar-container{
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.dashboard-border-bottom-dark{
  border-bottom: 2px solid var(--dark-bg);
}
.dashboard-border-bottom-light{
  border-bottom: 2px solid var(--white-bg);
}
.dashboard-navbar-container h1{
  font-size: 28px;
}
.dashboard-navbar-container p{
  font-size: 16px;
  margin-top: 6px;
  padding: 3px;
  border-radius: 5px;
}
.light-par{
  background-color: var(--white-bg);
  color: var(--dark-text);
}
.dark-par{
  color: var(--light-text);
  background-color: var(--dark-bg);
}
.dark-icon{
  color: var(--dark-text);
}
.light-icon{
  color: var(--light-text);
}
.logout-container span{
  font-size: 20px;
  cursor: pointer;
  color: var(--light-text);
  background-color: blue;
  padding: 5px;
  border-radius: 10%;
}
.sidebar-user-dashboard{
  display: flex;
}
.logout-inner-container{
  position: absolute;
  right: 0%;
  margin: 18px 20px 0 0;
  width: 10%;
  z-index: 1;
  background-color: var(--light-text);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(100, 100, 100, 0.596);
  animation: dropDownEffectEdit .2s linear;
}
.edit-parent-container{
  position: relative;
}
.edit-container{
  position: absolute;
  right: 0%;
  margin: 4px 55px 0 0;
  width: 150px;
  background-color: var(--light-text);
  border: 1px solid rgb(7, 253, 7);
  border-radius: 6px 0 6px 6px;
  box-shadow: 0 0 8px rgba(100, 100, 100, 0.596);
  z-index: 1;
  color: var(--dark-text);
  animation: dropDownEffectEdit .2s linear;
}
@keyframes dropDownEffectEdit {
  0%{
    transform: translateY(-100%) scale(0);
  }
  100%{
    transform: translateY(0%) scale(1);
  }
}

.edit-container-menu{
  margin-top: 5px;
  color: rgba(64, 64, 64, 0.438);
}
.edit-container-rename{
  display: flex;
  justify-content: center;
  margin: 10px 5px;
  padding: 5px;
  font-size: 17px;
}
.edit-icon{
  margin-right: 20px;
}

.edit-container-delete{
  display: flex;
  justify-content: center;
  margin: 10px 5px;
  color: rgba(255, 47, 47, 0.878);
  padding: 5px;
  font-size: 17px;
}
.delete-icon{
  margin-right: 32px;
}
.edit-container-rename:hover, .edit-container-delete:hover{
  background-color: rgba(106, 107, 107, 0.375);
  border-radius: 4px;
}
.edit-button-color{
  color: red;
}
.usher-close-container{
  display: none;
}
.logout-inner-container section{
  font-size: 14px;
  text-align: center;
  margin: 4px 0;
  color: rgba(100, 100, 100, 0.596);
}
/* switch settings 👇 */
.toggle-switch-container{
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}
.dark-day{
  color: var(--dark-text);
  font-size: 13px;
  margin-top: -3px;
}
.ui-switch {
  /* switch */
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 38px;
  --switch-height: 10px;
  /* circle */
  --circle-diameter: 20px;
  --circle-bg: rgb(0, 9, 22);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}
.ui-switch input {
  display: none;
}
.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}
.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  ;
}
.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}
/* actions */
.ui-switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
}
.ui-switch input:active+.slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}
.logout-inner-container p{
  font-size: 16px;
  text-align: center;
  background-color: var(--white-bg);
  color: red;
  cursor: pointer;
  margin-top: 8px;
  transition: 0.5s;
}
.logout-inner-container h6{
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
  padding: 3px;
  color: var(--dark-text);
  text-align: center;
  background-color: transparent;
  border-radius: 6px;
  transition: 0.5s;
}
.logout-inner-container h6:hover, .logout-inner-container p:hover{
  background-color: rgba(58, 58, 58, 0.532);
}
.logout-decision-holder{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout-holder{
  margin-top: -200px;
  background-color: var(--light-text);
  padding: 10px;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.596);
  border-radius: 10px;
  animation: dropDownEffectRename .4s ease-in-out alternate;
}
@keyframes dropDownEffectRename {
  0%{
    transform: translateY(-100%) scale(0);
  }
  100%{
    transform: translateY(0%) scale(1);
  }
}

.logout-holder h2{
  font-size: 15px;
  text-align: center;
  color: var(--dark-text);
  border-bottom:  1px solid rgba(100, 100, 100, 0.596);
}
.logout-holder p{
  background-color: transparent;
  color: var(--dark-text);
  font-size: 16px;
  margin: 15px 0;
}
.dark-background{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(47, 55, 64, 0.423);
  display: flex;
  justify-content: center;
  align-items: center;

}
.decision{
  display: flex;
  justify-content: center;
  align-items: center;
}
.yes{
  background-color: rgb(255, 54, 54);
  color: var(--light-text);
  padding: 8px;
  margin-right: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.yes:hover{
  background-color: rgb(255, 102, 102);
}
.no{
  background-color: var(--dark-bg);
  color: var(--light-text);
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.no:hover{
  background-color: rgba(62, 62, 62, 0.921);
}
.theme-button{
  background-color: rgb(0, 106, 255);
  color: var(--light-text);
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.5s;
}
.theme-button:hover{
  background-color: rgba(62, 62, 62, 0.921);
}
.theme-holder-container{
  width: 20%;
}
.theme-holder-container h2{
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}
.theme-holder-container p{
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.theme-holder{
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.theme-holder img{
  width: 60px;
  height: 60px;
  margin: 0 10px;
}
.theme-mode-choice-container{
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.284);
  border-radius: 10px;
  padding: 8px 5px;
  color: var(--dark-text);
}

/* user sidebar */
.sidebar-container{
  width: 320px;
  height: 90vh;
  padding: 10px 0;
  background-color: var(--dark-text);
}
.sidebar-top{
  display: none;
}
.dashboard-sidebar-title{
  color: var(--light-text);
  font-size: 25px;
}
.dashboard-sidebar-subtitle{
  font-size: 18px;
  color: var(--light-text);
  margin: 10px 20px;
  display: flex;
  justify-content: space-evenly;
}
.subtitle{
  font-weight: 700;
  font-family: monospace;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;

}
.dashboard-sidebar-subtitle img{
  margin-top: -6px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
}
.sidebar-navigator{
  font-size: 15px;
  text-align: center;
  color: var(--light-text);
  text-decoration: none;
  padding: 10px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 15px 0 0 15px;
  cursor: pointer;
  outline: none;
}
.sidebar-navigator-list{
  display: flex;
}
.navigator-icon{
  font-size: 20px;
  margin-right: 50px;
}
.email-icon{
  font-size: 22px;
  margin-right: 10px;
}
.logout-sidebar-icon{
  font-size: 20px;
  margin-right: 50px;
  margin-left: 30px;
}

/* admin sidebar navigator */
.admin-navbar-navigator-container{
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
.admin-sidebar-navigator{
  margin-top: 5px;
  margin-bottom: 10px;
}
.active{
  background-color: rgba(91, 93, 97, 0.414);
  border-bottom: 2px solid red;
  box-shadow: inset 0 0 5px  rgba(165, 213, 255, 0.153);
}
.sidebar-navigator:hover{
  background-color: rgba(91, 93, 97, 0.27);
}
.navbar-navigator-container{
  display: flex;
  flex-direction: column;
  margin: 60px 0;
}
.sidebar-bottom{
  margin-top: 120px;
  padding: 0 10px;
  border-top: 1px solid var(--light-text);
}
/* admin side bar bottom */
.admin-sidebar-bottom{
  margin-top: 70px;
  padding: 0 10px;
  border-top: 1px solid var(--light-text);
}

.sidebar-email{
  font-size: 16px;
  color: var(--light-text);
  margin: 20px 0;
}
.sidebar-logout{
  font-size: 16px;
  color: var(--light-text);
  margin: 0 40px;
  cursor: pointer;
  background-color: rgba(115, 255, 0, 0.677);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  transition: .5s;
}
.sidebar-logout:hover{
  background-color: rgba(41, 80, 9, 0.677);
}
.sidebar-email span{
  font-family: monospace;
  margin-left: 20px;
  color: rgb(115, 255, 0);
}
/* user content */
.dashboard-container{
  flex-grow: 1;
}
.user-content-container{
  height: 90vh;
}

/* all the members */
.all-members-container{
  margin: 0 10px;
  height: 85vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.all-members-container::-webkit-scrollbar{
  width: 8px;
  background-color: rgba(18, 26, 39, 0.037);
}
.all-members-container::-webkit-scrollbar-thumb{
  border-radius: 6px;
  background-color: rgba(62, 95, 115, 0.223);
}
.header-search-bar{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}
.all-members-title{
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}
.search-container {
  display: flex;
  background-color: var(--light-text);
  border-radius: 5px;
  border: 1px solid var(--dark-bg);
}
.search-container input{
  background-color: var(--light-text);
  width: 90%;
  border-radius: 6px;
  padding: 6px;
  border: none;
  outline: none;
}
.search-icon{
  font-size: 22px;
  cursor: pointer;
  color: var(--dark-bg);
  padding: 4px;
  transition: .5s;
}
.search-icon:hover{
  color: var(--light-text);
  background-color: var(--dark-text);
}
.all-members-content{
  width: 100%;
  border-collapse: collapse;
}
.all-members-list-header{
  text-align: center;
  background-color: rgba(115, 255, 0, 0.677);
  font-size: 20px;
}
.all-members-list-header th{
  font-weight: 400;
  padding: 11px;
}
.all-members-list{
  text-align: center;
  color: var(--light-text);
  background-color: rgb(96, 128, 139);
  font-size: 15px;
  border-bottom: 2px solid rgb(0, 0, 0);
}
/* ushers member list */
.ushers-members-list-header{
  background-color: rgb(0, 153, 255);
}
/* check in member list */
.check-in-all-members-content{
  height: 48vh;
}
.check-in-all-members-list{
  color: var(--dark-text);
  background-color: var(--white-bg);
  border-bottom: 2px solid rgb(0, 255, 0);
}
/* searching */
.search-all-members-list{
  color: rgba(154, 154, 154, 0.616);
  background-color: rgba(96, 128, 139, 0.052);
  text-align: center;
  font-size: 10px;
}
.search-all-members-list td{
  padding: 10px;
  
}
.all-members-list-name, .all-members-list-phone-number, .all-members-list-date{
  padding: 16px 0;
}
.edit-button{
  cursor: pointer;
  transition: .5s;
}
.edit-button:hover{
  color: red;
}
/* usher check in */
.check-in-input{
  accent-color: rgb(5, 255, 5);
  outline: none;
  cursor: pointer;
}
.check-in-input[type="checkbox"]{
  transform: scale(1.3);
}
.no-members{
  width: 100%;
  height: 70vh;
  background-color: rgba(96, 128, 139, 0.273);
  padding-top: 150px;
  border-radius: 3px;
  margin: 10px 0;
  font-size: 15px;
  text-align: center;
}
.no-members img{
  width: 130px;
  height: 130px;
}
.no-members p{
  font-size: 18px;
  margin-top: 15px;
}
.number-of-members{
  font-size: 17px;
  margin-top: 10px;
  margin-left: 1px;
  margin-bottom: 20px;
  padding: 6px;
  border-radius: 3px;
  display: flex;
}
.number-of-members-digits{
  font-weight: 700;
  text-shadow: 0 0 5px rgba(29, 29, 29, 0.5);
  margin: 0 5px;
}
.color-digits-green{
  color: greenyellow;
}
.color-digits-red{
  color: red;
}
.ping-effect {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: blue;
  opacity: 0.75;
  animation: ping 1s infinite;
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }
  50% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0.75;
  }
}

/* personal members */
.personal-members-list-header{
  background-color: blue;
  color: white;
}
/* personal members */
.ushers-list-header{
  background-color: rgb(0, 153, 255);
  color: white;
}

.personal-ping-effect{
  background-color: red;
}
.ushers-ping-effect{
  background-color: red;
}

/* usher loading */
.loading-members{
  /* display: flex;
  justify-content: space-evenly; */
  width: 100%;
  background-color: rgba(96, 128, 139, 0.573);
  font-size: 15px;
  border-bottom: 2px solid black;
}
.loading-members td{
  background-image: linear-gradient(
		90deg,
		#b6d1d755 0px,
		rgba(179, 194, 196, 0.477) 40px,
		#68888682 80px
	);
  background-size: 300%;
  background-position: 100% 0;
  padding: 20px;
  animation: loading 2s infinite;
}
.member-card td{
  width: 10%;
  height: 5px;
}
@keyframes loading{
  to{
    background-position: -100% 0;
  }
}
.loading-number-of-members p{
  width: 250px;
  background-image: linear-gradient(
		90deg,
		#b6d1d755 0px,
		rgba(179, 194, 196, 0.477) 40px,
		#68888682 80px
	);
  background-size: 300%;
  background-position: 100% 0;
  padding: 10px;
  margin: 1px 0;
  border-radius: 6px;
  animation: loading 2s infinite;
}

/* usher register */
.usher-register-container{
  height: 92.7vh;
}
.usher-register-inner-container{
  margin-top: -200px;
}
.usher-check-in-inner-container{
  height: 80vh;
}
.check-in-register-member{
  margin-left: 10px;
}
.check-in-search-no-members td{
  padding: 10px;
  text-align: center;
  font-size: 15px;
}

/* toast notification */
.custom-toast-message{
  font-size: 18px;
}

/*check in check input */
.checkbox {
  appearance: none;
  width: 18px;
  aspect-ratio: 1;
  border-radius: 8px;
  border: 2px solid black;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.checkbox::before {
  font-family: "Quicksand", sans-serif;
  position: absolute;
  bottom: -12px;
  left: -4px;
  content: "✔";
  font-size: 40px;
  color: rgb(255, 158, 14);
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

.checkbox:checked::before {
  animation: zoom 0.5s ease-in-out;
  transform: scale(0.8);
}
.is-checked{
  cursor: not-allowed;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1.5);
  }

  40% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.2);
  }

  90% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

/* rename container */
.rename-container-outer{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 10px;
  z-index: 1;
  background-color: rgba(96, 103, 110, 0.247);
  display: flex;
  justify-content: center;
  align-items: center;
}
.rename-container-inner{
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  background-color: #8ed0fc;
  box-shadow: 0 0 10px rgba(24, 24, 24, 0.484);
  animation: dropDownEffectRename .4s ease-in-out alternate;
}
@keyframes dropDownEffectRename {
  0%{
    transform: translateY(-100%) scale(0);
  }
  100%{
    transform: translateY(0%) scale(1);
  }
}
.delete-container-inner{
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  background-color: #8ed0fc;
  box-shadow: 0 0 10px rgba(24, 24, 24, 0.484);
  animation: dropDownEffectRename .4s ease-in-out alternate;
}
@keyframes dropDownEffectRename {
  0%{
    transform: translateY(-100%) scale(0);
  }
  100%{
    transform: translateY(0%) scale(1);
  }
}
.rename-container-header{
  color: var(--dark-bg);
  border-bottom: 1px solid var(--dark-bg);
  margin-bottom: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.delete-container-sub-header{
  color: red;
  font-size: 17px;
  text-align: center;
  margin-top: 25px;
}
.rename-container-header span{
  cursor: pointer;
  transition: .5s;
}
.rename-container-header span:hover{
  color: red;
}
.rename-input-container{
  display: block;
  font-size: 18px;
  margin: 15px 0;
}
.rename-input-container label{
  float: left;
  color: var(--light-text);
}
.rename-input-container input{
  padding: 8px;
  border: none;
  border-radius: 5px;
  width: 95%;
  outline: none;
}
.rename-input-container input:focus{
  border: 2px solid blue;
}
.delete-button-container-outer{
  display: flex;
  justify-content: center;
}
.delete-button-container{
  display: flex;
  margin-top: 20px;
}
.delete-button{
  display: block;
  outline: none;
  border: 1px solid var(--light-bg);
  border-radius: 5px;
  padding: 8px 15px;
  margin-right: 60px;
  cursor: pointer;
  color: white;
  background-color: rgb(251, 54, 54);
  transition: .3s;
}
.delete-button:hover{
  background-color: rgba(129, 4, 4, 0.819);
  color: var(--light-text);
}
.rename-button{
  display: block;
  outline: none;
  border: 1px solid var(--dark-bg);
  border-radius: 5px;
  padding: 8px 15px;
  margin-right: 60px;
  cursor: pointer;
  background-color: white;
  transition: .3s;
}
.rename-button:hover{
  background-color: var(--dark-bg);
  color: white;
  border: 1px solid var(--white-bg);
}
.update-table{
  background-color: #0055ff88;
}
.delete-table{
  background-color: #ff000078;
}

/* members checked in */
.grouped-checked-members{
  margin-top: 40px;
  margin-bottom: 10px;
}
.grouped-checked-members-header{
  display: flex;
  justify-content: center;
}
.grouped-checked-members-header h1{
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: var(--light-text);
  background-color: rgba(0, 0, 0, 0.981);
  border-radius: 10px;
  padding: 7px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  padding: 20px 10px;
}
.grid-container-inner{
  display: flex;
  justify-content: center;
}
.grid-item {
  background: rgb(223, 225, 235);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
  rgba(0, 0, 0, 0.06) 0px 2px 1px, 
  rgba(0, 0, 0, 0.09) 0px 4px 2px, 
  rgba(0, 0, 0, 0.09) 0px 8px 4px, 
  rgba(0, 0, 0, 0.09) 0px 16px 8px, 
  rgba(0, 0, 0, 0.09) 0px 3px 16px;
}
.member-info-check{
  display: flex;
  font-size: 16px;
  margin: 15px 1px;
  color: var(--dark-text);
}
.member-info-check label{
  width: 160px;
  margin-right: 20px;
  font-weight: 600;
}
.number-of-check-ins{
  font-size: 16px;
  border-bottom: 1px solid red;
  border-radius: 4px;
  padding: 4px;
  min-width: 240px;
  max-width: 240px;
}

/* check-in loader */
.grouped-checked-members-header-loader{
  display: flex;
  justify-content: center;
}
.grouped-checked-members-header-loader h1{
  background-color: black;
  border-radius: 10px;
  padding: 15px;
  width: 100px;
}
.member-info-check-loader{
  display: flex;
  font-size: 16px;
  margin: 15px 1px;
  color: var(--dark-text);
}
.member-info-check-loader label{
  padding: 10px;
  width: 120px;
  margin-right: 20px;
  background-color: grey;
  border-radius: 10px;
}
.member-info-check-loader p{
  padding: 10px;
  width: 120px;
  background-color: grey;
  border-radius: 10px;
}
.number-of-check-ins-loader{
  border-radius: 4px;
  background-color: gray;
  padding: 10px;
  min-width: 240px;
  max-width: 240px;
}
.grouped-checked-members-header-loader h1, 
.member-info-check-loader label, 
.member-info-check-loader p,
.number-of-check-ins-loader{
  background-image: linear-gradient(
		90deg,
		#34343455 0px,
		rgba(68, 68, 68, 0.477) 40px,
		#00000082 80px
	);
  background-size: 300%;
  background-position: 100% 0;
  animation: loading 2s infinite;
}
@keyframes loading{
  to{
    background-position: -100% 0;
  }
}

/* check in searching loader */
.checked-in-search-loader{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, #2d60ec, #3ccfda);
  font-size: 12px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate8345 9s linear infinite;
}
@keyframes animate8345 {
  0%,100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}

/* login content */
.login-button-content-container{
  display: flex;
  justify-content: center;
}
.login-button-content{
  display: flex;
}

/* submission loader */
.submission-spinner {
  
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 28px 0px 0 0 rgba(255,255,255,0.2), 22.7px 16.5px 0 0 rgba(255,255,255,0.4), 8.68px 26.6px 0 0 rgba(255,255,255,0.6), -8.68px 26.6px 0 0 rgba(255,255,255,0.8), -22.7px 16.5px 0 0 #ffffff;
  animation: spinner-b87k6z 1s infinite linear;
}

@keyframes spinner-b87k6z {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 36px;
  height: 36px;
  display: grid;
  color: #ffffff;
  margin: -10px 10px -10px -10px ;
  background: radial-gradient(farthest-side, currentColor calc(50% - 6.7px),#0000 calc(50% - 5.6px) 0);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 14.6px),#000 calc(100% - 13.4px));
  border-radius: 50%;
  animation: spinner-sm4bhi 2s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  background: linear-gradient(currentColor 0 0) center,
        linear-gradient(currentColor 0 0) center;
  background-size: 50% 3.2px,3.2px 50%;
  background-repeat: no-repeat;
}

.spinner::after {
  transform: rotate(45deg);
}

@keyframes spinner-sm4bhi {
  100% {
    transform: rotate(1turn);
  }
}

/* qr code */
.code-button-container{
  margin-top: 20px;
  position: relative;
}
.code-button-container-inner{
  display: flex;
  font-size: 15px;
  margin-right: 130px;
  cursor: pointer;
  padding: 2px;
  background-color: rgba(128, 128, 128, 0.373);
  border-radius: 10px;
  border: 1px solid rgba(115, 255, 0, 0.677);
}
.code-button-container-inner:hover{
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.234);
}
.code-button-container-inner p{
  margin-top: 6px;
}
.mobile-icon{
  margin-right: 20px;
  font-size: 28px;
}

.code-image-open{
  position: absolute;
  z-index: 1;
  animation: dropEffect .4s ease-in-out alternate;
  transform: translateY(-100%);
}
.code-image-close{
  transform: translateY(0%);
}
@keyframes dropEffect {
  0%{
    transform: translateY(-100%) scale(0);
  }
  100%{
    transform: translateY(-100%) scale(1);
  }
}
.code-image-inner{
  margin: 0;
}
.code-image-inner img{
  width: 170px;
  height: 170px;
}

/* password strength */
.password-very-weak{
  font-size: 12px;
  color: red;
}
.password-weak{
  font-size: 12px;
  color: rgb(255, 89, 0);
}
.password-medium{
  font-size: 12px;
  color: rgb(0, 196, 85);
}
.password-strong{
  font-size: 12px;
  color: rgb(0, 196, 85);
}
.password-very-strong{
  font-size: 12px;
  color: rgb(0, 36, 196);
}

/* responsiveness css */
@media only screen and (max-width: 1250px) {
  .landing-page-inner{
    margin: 40px 0px;
    padding: 20px 10px;
    width: 92%;
  }
  .landing-page-title{
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .landing-page-title2{
    font-size: 2.7rem;
  }
  .landing-page-sub-image{
    overflow-x: scroll;
    width: 90%;
    max-width: 950px;
    margin: 0px auto;
  }
  .sub-image-container1{
    margin: 14px;
  }
  .sub-image-container1 img{
    width: 190px;
    height: 190px;
  }
  .sub-image-top{
    margin-bottom: 60px;
  }
  .landing-page-bottom{
    margin-top: 10px;
  }
  .landing-page-bottom h3{
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  /* user dashboard */
  .logout-inner-container{
    width: 130px;
  }
  .theme-holder-container{
    width: 30%;
  }
  .theme-holder img{
    width: 6rem;
    height: 6rem;
  }
  .theme-holder-container p{
    font-size: 1.5rem;
  }
  /* user sidebar */
  .sidebar-container{
    width: 300px;
    height: 90vh;
  }
  .user-content-container{
    height: 90vh;
  }
  .edit-container{
    margin: 4px 35px 0 0;
  }
  /* qr code */
  .code-button-container-inner{
    margin-right: 110px;
  }
}
@media only screen and (max-width: 1000px) {
  .image-container{
    display: none;
  }
  .inner-container{
    width: 95%;
  }
  .navbar-button{
    font-size: 12px;
  }
  .landing-page-title{
    font-size: 25px;
  }
  .sub-image-container1 img{
    width: 20rem;
    height: 20rem;
  }
  .sub-image-container1 span{
    font-size: 1.9rem;
  }
  .sub-image-top{
    margin-bottom: 60px;
  }
  .landing-page-bottom{
    margin-top: 10px;
  }
  .landing-page-bottom h3{
    font-size: 25px;
    margin-bottom: 10px;
  } 
  .landing-page-bottom p{
    font-size: 2rem;
  }
  .loading-container{
    font-size: 20px;
  }
  /* dashboard navbar */
  .dashboard-navbar-container h1{
    display: none;
  }
  .dashboard-navbar-container p{
    display: none;
  }
  .usher-close-container h6{
    font-size: 16px;
    font-weight: 100;
    margin-top: 0;
    padding: 5px;
    border-radius: 5px;
  }
  .usher-close-container{
    display: flex;
  }
  .usher-close-container span{
    font-size: 24px;
    cursor: pointer;
    margin-right: 30px;
  }
  .logout-inner-container{
    width: 120px;
  }
  .logout-inner-container section{
    font-size: 14px;
  }
  .logout-inner-container p{
    display: block;
    font-size: 15px;
  }
  .logout-inner-container h6{
    font-size: 15px;
  }
  /* user dashboard */
  .theme-holder-container{
    width: 60%;
  }
  .theme-holder{
    margin: 10px 20px;
  }
  .theme-holder img{
    width: 6rem;
    height: 6rem;
  }
  .theme-holder-container p{
    display: block;
    font-size: 2.5rem;
  }
  .logout-holder p {
    display: block;
  }
  /* user sidebar */
  .sidebar-container-open {
    display: block;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out; 
  }
  .sidebar-container-close {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .sidebar-top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
  }
  .sidebar-navigator{
    margin-left: 60px;
  }
  .sidebar-slide-container{
    background-color: rgba(146, 146, 146, 0.085);
    position: fixed;
    width: 100%;
    height: 92.9vh;
    z-index: 1;
  }
  .sidebar-bottom{
    margin-top: 50px;
  }
  /* user sidebar */
  .sidebar-container{
    position: fixed;
    width: 350px;
    height: 92.2vh;
    padding: 10px 0;
    border-right: 1px solid #ccc;
    background-color: var(--dark-text);
    transition: transform 0.3s ease-in-out; 
  }
  /* user content container */
  .user-content-container{
    height: 93vh;
  }
  .all-members-list-header th{
    padding: 10px 0;
  }
  .all-members-list-name, .all-members-list-phone-number, .all-members-list-date{
    padding: 10px 0;
  }
  /* admin all members */
  .edit-container{
    margin: 4px 20px 0 0;
    width: 120px;
  }
  /* qr code */
  .code-button-container{
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .navbar-button{
    font-size: 3rem;
  }
  .navbar-button2{
    margin-left: 3rem;
  }
  .nav-image img{
    width: 9rem;
    height: 9rem;
  }
  .image-text{
    font-size: 3.9rem;
    margin-left: 3rem;
  }
  .landing-page-title{
    font-size: 5rem;
  }
  .landing-page-title2{
    font-size: 2.9rem;
  }
  .sub-image-container1 img{
    width: 20rem;
    height: 20rem;
  }
  .sub-image-container1 span{
    font-size: 1.9rem;
    border-radius: 0;
  }
  .sub-image-top{
    margin-bottom: 60px;
  }
  .landing-page-bottom{
    margin-top: 10px;
  }
  .landing-page-bottom h3{
    font-size: 4rem;
    margin-bottom: 10px;
  } 
  .landing-page-bottom p{
    font-size: 3rem;
  }
  .email-phone-container{
    width: 120px;
  }
  .button-container{
    flex-direction: column;
  }
  /* dashboard navbar */
  .dashboard-navbar-container h1{
    display: none;
  }
  .theme-holder-container{
    width: 90%;
  }
  .theme-holder{
    margin: 10px 20px;
  }
  .theme-holder img{
    width: 16rem;
    height: 16rem;
  }
  .theme-holder-container h2{
    font-size: 6.5rem;
    margin-bottom: 10px;
  }
  .theme-holder-container p{
    display: block;
    font-size: 3.8rem;
    margin-bottom: 10px;
  }
  .theme-button{
    margin-top: 2rem;
    padding: 2rem;
  }
  /* user sidebar */
  .sidebar-bottom{
    margin-top: 70px;
  }
  .sidebar-container{
    width: 280px;
    height: 93vh;
  }
  .user-content-container{
    height: 92.8vh;
  }
  .header-search-bar{
    display: flex;
    flex-direction: column;
  }
  /* usher register */
  .usher-register-container{
    height: 92.8vh;
  }
  .all-members-list-header{
    font-size: 16px;
  }
  /* usher check in */
  .check-in-all-members-content{
    height: 42vh;
  }
  .all-members-list-header th{
    padding: 8px 5px;
  }
  .all-members-container::-webkit-scrollbar{
    display: none;
  }
  .all-members-container::-webkit-scrollbar-thumb{
    display: none;
  }
  .all-members-list-name, .all-members-list-phone-number, .all-members-list-date{
    padding: 8px 0;
  }
  .all-members-list-name{
    padding: 0 3px;
  }
}