*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 1.2vw;
}
body{
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar{
  width: 0%;
}

:root{
  --white-bg: rgb(225, 236, 255);
  --dark-bg: rgb(17, 29, 48);
  --light-text: rgb(239, 245, 255);
  --dark-text: rgb(23, 35, 55);
}

/* dark and light mode */
.white-bg{
  background-color: var(--white-bg);
  color: var(--dark-text);
  height: 100vh;
  flex-grow: 1;
}
.dark-bg{
  background-color: var(--dark-bg);
  color: var(--light-text);
  flex-grow: 1;
  height: 100vh;
}
.mode-selected{
  background-color: var(--dark-bg);
  color: var(--light-text);
  cursor: pointer;
  border-radius: 10px;
  padding: 8px 5px;
}

/* app component */
.app-container{
  height: auto;
}

/* app loading container */
.loading-container{
  background-color: var(--white-bg);
  height: 100vh;
  color: var(--dark-text);
  font-size: 3rem;
}
.loading-container p{
  padding-top: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* navbar page */
.navbar-container{
  background-color: #2a2a72;
  height: auto;
}
.navbar-content{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.nav-image{
  display: flex;
}
.nav-image img{
  width: 40px;
  height: 40px;
}
.image-text{
  font-size: 20px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5px 0 0 30px;
  color: var(--white-bg);
}
.nav-item{
  padding: 10px;
}
.navbar-button{
  background-color: var(--white-bg);
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #2a2a72;
  transition: .5s;
}
.navbar-button:hover{
  background-color: #1818ab;
  color: var(--light-text);
  border: 1px solid var(--light-text);
}
.navbar-button2{
  margin-left: 30px;
}

/* landing page */
.landing-page-container{
  height: auto;
  background: var(--white-bg);
  background-image: linear-gradient(45deg,  rgba(23, 35, 40, 0.637), rgba(23, 35, 40, 0.382), rgba(74, 207, 255, 0.481)), url("./components/assets/landing-page-image1.jpeg");
  background-size: cover;
  background-position: center;
}
.landing-page-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--light-text); 
}
.landing-page-filter{
  backdrop-filter: blur(3px);
  height: 100vh;
}
.landing-page-inner{
  margin: 40px 40px 0px 40px;
  padding: 20px 50px;
  border: 1px solid var(--light-text);
  border-radius: 10px;
  background-color: rgba(23, 35, 40, 0.637);
}
.landing-page-title{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 45px;
  text-align: center;
  margin-bottom: 50px;
}
.landing-page-title2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}
.typing {
  border-right: .15em solid var(--light-text);
  white-space: nowrap; 
  overflow: hidden;
  width: 0; 
  animation: typing 10s steps(30) infinite, blinkTextCursor 500ms steps(2) infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkTextCursor {
  from { border-right-color: transparent; }
  to { border-right-color: var(--light-text); }
}

.landing-page-sub-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.sub-image-container1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 14px;
}
.sub-image-container1 img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.sub-image-container1 span{
  font-size: 18px;
  text-align: center;
  background-color: rgba(53, 53, 53, 0.471);
  color: white;
  position: relative;
  top: -29px;
  padding: 4px;
  border-radius: 0 0 10px 10px;
}
.sub-image-top{
  margin-bottom: 60px;
}
.landing-page-bottom{
  margin-top: 10px;
}
.landing-page-bottom h3{
  font-size: 25px;
  margin-bottom: 10px;
}


/* signup and login */
.container-background{
  background-color: var(--white-bg);
  background-image: url("./components/assets/pattern3.jpg");
  background-position: center;
  height: 100vh;
  display: flex;
}
.image-container{
  display: flex;
  flex-grow: 1;
  width: 50%;
  border-right: 2px solid var(--dark-bg);
  filter: brightness(0.5);
  box-shadow: inset 0 0 0 1000px rgba(37, 37, 37, 0.5);
}
.background-image{
  width: 90%;
  margin: 30px;
  animation: rotateImage 10s  infinite;
}
@keyframes rotateImage{
  from {
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}

.outer-container{
  padding-top: 10px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.inner-container{
  width: 70%;
  background-color: rgb(230, 249, 255);
  margin: 10px 15px;
  padding: 10px 30px;
  border-radius: 10px;
}
.container-header{
  color: var(--dark-bg);
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 37px;
  width: auto;
}
.form-group{
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
}
.form-group label{
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-bg);
}
.form-group input{
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 6px;
}
.form-group input:focus-visible{
  border: 1px solid blue;
  background-color: rgba(0, 0, 255, 0.048);
}
.password{
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
}
.password label{
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-bg);
}
.password input{
  width: 90%;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 6px;
}
.password-container{
  display: flex;
  background-color: white;
  border-radius: 6px;
}
.password-active{
  border: 1px solid blue;
}
.password-icon{
  font-size: 25px;
  cursor: pointer;
  margin: 5px 8px;
}
.button-container{
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
  font-size: 15px;
}
.submit-button{
  padding: 8px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  background-color: rgb(0, 33, 251);
  color: var(--light-text);
  cursor: pointer;
  transition: .5s;
}
.submit-button:hover{
  background-color: rgb(1, 49, 77);
}
.login-link-container{
  margin-left: 4rem;
  margin-top: 9px;
}
.login-link{
  text-decoration: none;
  color: red;
}
.email-phone-container{
  background-color: white;
  padding: 2px;
  width: 30%;
  border-radius: 5px;
}
.email-phone{
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
}
.email-phone-switch{
  background-color: var(--dark-text);
  color: var(--light-text);
  padding: 2px;
  border-radius: 4px;
}

/* not found css */
.not-found-outer-container{
  height: 100vh;
  background: var(--light-text);
  background-image: url("./components/assets/pattern3.jpg");
  background-position: center;
}
.not-found-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-found-content{
  margin: 90px 20px;
  display: block;
  text-align: center;
  background-color: var(--white-bg);
  border-radius: 10px;
  padding: 40px 20px;
}
.not-found-content h1{
  color: red;
  font-size: 40px;
  margin-bottom: 0px;
}

.not-found-content img{
  height: 40vh;
}
.not-found-content p{
  font-size: 20px;
  margin-bottom: 30px;
}
.not-found-link{
  background-color: blue;
  border: 2px solid rgb(144, 225, 255);
  border-radius: 10px;
  padding: 10px;
  font-size: 10px;
  color: var(--light-text);
  text-decoration: none;
}

/* user dashboard */
.user-dashboard-container{
  background-color: var(--white-bg);
  height: 100vh;
  color: var(--dark-text);
}
.dashboard-navbar-container{
  height: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--dark-bg);
  padding: 10px 20px;
}
.dashboard-navbar-container h1{
  font-size: 28px;
}
.dashboard-navbar-container p{
  font-size: 16px;
  margin-top: 6px;
  padding: 3px;
  color: var(--light-text);
  background-color: var(--dark-bg);
  border-radius: 5px;
}
.logout-container span{
  font-size: 20px;
  cursor: pointer;
  color: var(--light-text);
  background-color: blue;
  padding: 5px;
  border-radius: 10%;
}
.sidebar-user-dashboard{
  display: flex;
}
.dashboard-sidebar{
  width: 20%;
  flex-grow: 1;
}
.dashboard-container{
  width: 80%;
  flex-grow: 1;
}
.logout-inner-container{
  position: absolute;
  right: 0%;
  margin: 18px 20px 0 0;
  width: 10%;
  background-color: var(--light-text);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(100, 100, 100, 0.596);
}
.logout-inner-container section{
  font-size: 14px;
  text-align: center;
  margin: 4px 0;
  color: rgba(100, 100, 100, 0.596);
}
.logout-inner-container p{
  font-size: 16px;
  text-align: center;
  background-color: var(--white-bg);
  color: red;
  cursor: pointer;
  margin-top: 8px;
  transition: 0.5s;
}
.logout-inner-container h6{
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
  padding: 3px;
  color: var(--dark-text);
  text-align: center;
  background-color: transparent;
  border-radius: 6px;
  transition: 0.5s;
}
.logout-inner-container h6:hover, .logout-inner-container p:hover{
  background-color: rgba(58, 58, 58, 0.532);
}
.logout-decision-holder{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout-holder{
  margin-top: -200px;
  background-color: var(--light-text);
  padding: 10px;
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.596);
  border-radius: 10px;
}
.logout-holder h2{
  font-size: 15px;
  text-align: center;
  color: var(--dark-text);
  border-bottom:  1px solid rgba(100, 100, 100, 0.596);
}
.logout-holder p{
  background-color: transparent;
  color: var(--dark-text);
  font-size: 16px;
  margin-bottom: 10px;
}
.dark-background{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 55, 64, 0.225);

}
.decision{
  display: flex;
  justify-content: center;
  align-items: center;
}
.yes{
  background-color: rgb(255, 54, 54);
  color: var(--light-text);
  padding: 8px;
  margin-right: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.yes:hover{
  background-color: rgb(255, 102, 102);
}
.no{
  background-color: var(--dark-bg);
  color: var(--light-text);
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.no:hover{
  background-color: rgba(62, 62, 62, 0.921);
}
.theme-button{
  background-color: rgb(0, 106, 255);
  color: var(--light-text);
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.5s;
}
.theme-button:hover{
  background-color: rgba(62, 62, 62, 0.921);
}
.theme-holder-container{
  width: 20%;
}
.theme-holder-container h2{
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}
.theme-holder-container p{
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.theme-holder{
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.theme-holder img{
  width: 60px;
  height: 60px;
  margin: 0 10px;
}
.theme-mode-choice-container{
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.284);
  border-radius: 10px;
  padding: 8px 5px;
  color: var(--dark-text);
}




/* toast notification */
.custom-toast-message{
  font-size: 18px;
}
/* responsiveness css */
@media only screen and (max-width: 1250px) {
  .landing-page-inner{
    margin: 40px 0px;
    padding: 20px 10px;
    width: 80%;
  }
  .landing-page-title{
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .landing-page-title2{
    font-size: 1.5rem;
  }
  .typing {
    white-space: nowrap; 
  }
  .landing-page-sub-image{
    overflow-x: scroll;
    width: 90%;
    max-width: 950px;
    margin: 0px auto;
  }
  .sub-image-container1{
    margin: 14px;
  }
  .sub-image-container1 img{
    width: 190px;
    height: 190px;
  }
  .sub-image-top{
    margin-bottom: 60px;
  }
  .landing-page-bottom{
    margin-top: 10px;
  }
  .landing-page-bottom h3{
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  /* user dashboard */
  .theme-holder-container{
    width: 30%;
  }
  .theme-holder img{
    width: 6rem;
    height: 6rem;
  }
  .theme-holder-container p{
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .image-container{
    display: none;
  }
  .inner-container{
    width: 80%;
  }
  .navbar-button{
    font-size: 12px;
  }
  .landing-page-title{
    font-size: 25px;
  }
  .sub-image-container1 img{
    width: 20rem;
    height: 20rem;
  }
  .sub-image-container1 span{
    font-size: 1.9rem;
  }
  .sub-image-top{
    margin-bottom: 60px;
  }
  .landing-page-bottom{
    margin-top: 10px;
  }
  .landing-page-bottom h3{
    font-size: 25px;
    margin-bottom: 10px;
  } 
  .landing-page-bottom p{
    font-size: 1.6rem;
  }
  /* dashboard navbar */
  .dashboard-navbar-container h1{
    font-size: 25px;
  }
  .dashboard-navbar-container p{
    font-size: 16px;
    margin-top: 0;
    padding: 5px;
  }
  .logout-inner-container section{
    font-size: 1.2rem;
  }
  .logout-inner-container p{
    font-size: 1.5rem;
  }
  .logout-inner-container h6{
    font-size: 1.5rem;
  }
  /* user dashboard */
  .theme-holder-container{
    width: 60%;
  }
  .theme-holder{
    margin: 10px 20px;
  }
  .theme-holder img{
    width: 6rem;
    height: 6rem;
  }
  .theme-holder-container p{
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .navbar-button{
    font-size: 3rem;
  }
  .navbar-button2{
    margin-left: 3rem;
  }
  .nav-image img{
    width: 9rem;
    height: 9rem;
  }
  .image-text{
    font-size: 3.9rem;
    margin-left: 3rem;
  }
  .landing-page-title{
    font-size: 5rem;
  }
  .landing-page-title2{
    font-size: 1.5rem;
  }
  .sub-image-container1 img{
    width: 20rem;
    height: 20rem;
  }
  .sub-image-container1 span{
    font-size: 1.9rem;
    border-radius: 0;
  }
  .sub-image-top{
    margin-bottom: 60px;
  }
  .landing-page-bottom{
    margin-top: 10px;
  }
  .landing-page-bottom h3{
    font-size: 4rem;
    margin-bottom: 10px;
  } 
  .landing-page-bottom p{
    font-size: 3rem;
  }
  .email-phone-container{
    width: 40%;
  }
  .button-container{
    flex-direction: column;
  }
  /* dashboard navbar */
  .logout-inner-container{
    width: 10%;
  }
  .dashboard-navbar-container h1{
    display: none;
  }
  .theme-holder-container{
    width: 90%;
  }
  .theme-holder{
    margin: 10px 20px;
  }
  .theme-holder img{
    width: 16rem;
    height: 16rem;
  }
  .theme-holder-container h2{
    font-size: 6.5rem;
    margin-bottom: 10px;
  }
  .theme-holder-container p{
    font-size: 3.8rem;
    margin-bottom: 10px;
  }
  .theme-button{
    margin-top: 2rem;
    padding: 2rem;
  }
}